<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Good Movie Without Money </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="/assets/images/cinema_icon.jpg" type='image/x-icon'>
    
{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/loconsta/GoodMovieWithoutMoney" class="button"><small>View repository hosting this site on</small> GitHub</a>
        <a href="https://github.com/epfl-ada/ada-2022-project-nolemonnomelon" class="button2"><small>View repository containing the whole analysis
            on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <!-- DEFINE MAIN CONTENT IN TABS -->
          <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
          <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
          
          <!-- Load the element definition -->
          <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
          
          <!-- Declare tabs -->
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'ONE')" id="1">Introduction</button>
            <button class="tablinks" onclick="openCity(event, 'TWO')" id="2">Rating, Revenue, Budget</button>
            <button class="tablinks" onclick="openCity(event, 'THREE')" id="3">Genres</button>
            <button class="tablinks" onclick="openCity(event, 'FOUR')"  id="4">Clustering</button>
            <button class="tablinks" onclick="openCity(event, 'FIVE')"  id="5">Conclusion</button>
          </div>
          
          <!-- Open content in tabs -->
          <div id="ONE" class="tabcontent">
            {% capture m %}{% include tabs/introduction.md %}{% endcapture %}
            {{ m | markdownify }}
            <br> <br>
            <div class="tabshift" id="right"><button class="tab_shift"
                onclick="document.getElementById('2').click(); topFunction();">Continue to next tab...</button></div>
          </div>
          
          <div id="TWO" class="tabcontent">
            {% capture m %}{% include tabs/rrb.md %}{% endcapture %}
            {{ m | markdownify }}
            <br> <br>
            <div class="tabshift" id="right"><button class="tab_shift"
                onclick="document.getElementById('3').click(); topFunction();">Continue to next tab...</button></div>
            <div class="tabshift" id="left"><button class="tab_shift"
                onclick="document.getElementById('1').click(); topFunction();">Back to previous tab...</button></div>
          </div>
          
          <div id="THREE" class="tabcontent">
            {% capture m %}{% include tabs/genre.md %}{% endcapture %}
            {{ m | markdownify }}
            <br> <br>
            <div class="tabshift" id="right"><button class="tab_shift"
                onclick="document.getElementById('4').click(); topFunction();">Continue to next tab...</button></div>
            <div class="tabshift" id="left"><button class="tab_shift"
                onclick="document.getElementById('2').click(); topFunction();">Back to previous tab...</button></div>
          </div>

          <div id="FOUR" class="tabcontent">
            {% capture m %}{% include tabs/clustering.md %}{% endcapture %}
            {{ m | markdownify }}
            <br> <br>
            <div class="tabshift" id="right"><button class="tab_shift"
                onclick="document.getElementById('5').click(); topFunction();">Continue to next tab...</button></div>
            <div class="tabshift" id="left"><button class="tab_shift"
                onclick="document.getElementById('3').click(); topFunction();">Back to previous tab...</button></div>
          </div>

          <div id="FIVE" class="tabcontent">
            {% capture m %}{% include tabs/conclusion.md %}{% endcapture %}
            {{ m | markdownify }}
            <div class="tabshift" id="left"><button class="tab_shift"
                onclick="document.getElementById('4').click(); topFunction();">Back to previous tab...</button></div>
          </div>
          
          <!-- Handle tabs dynamically -->
          <script>

          // function enabling tab switching
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
          
          // function enabling scrolling up when changing tab from tabshift buttons
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
              }

            // Open 1st tab by default
            document.getElementById("1").click();
          </script>

        </section-->

        <aside id="sidebar"></aside>
      </div>
    </div>

    <br> <br>
    <hr> <hr>
    <br>
    
      <div id = 'footer'>
        <center>
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="{{ site.github.tar_url }}" class="button">
            <small>Download</small>
            .tar.gz file
          </a>
          
          {% endif %}
          
          <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is hosted by <a
              href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> and was created by Loris Constantin, Garance
            Haefliger, Rachel Monney and Lisa Pagani.</p>
          
          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </center>
    </div>
  </body>
</html>